# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Environments & build
.env
.venv/
env/
envs/
dist/
build/
*.conda
*.whl

# Logs
*.log

# Data
data/raw/
data/temp/

# VS Code (keep local settings out of repo)
.vscode/
