# ─── Python ───────────────────────────────────────────────
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# ─── Environments ─────────────────────────────────────────
.env
.env.*
.venv/
venv/

# ─── Data ─────────────────────────────────────────────────
**/data/
*.sqlite3

# ─── IDEs ─────────────────────────────────────────────────
.vscode/
.idea/

# ─── OS ───────────────────────────────────────────────────
.DS_Store
Thumbs.db


**/claudeslop

